<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<appSettings>
		<add key="cadenaDB" value="Data Source=DESKTOP-0N82K3J\SQLEXPRESS;Initial Catalog=BugTracker;Integrated Security=True"/>
	</appSettings>
</configuration>